
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*img{vertical-align: top;}*/

/*h1, h2, h3, h4, h5, h6 {*/
/*    font-size: inherit;*/
/*    font-weight: 400;*/
/*}*/

/*----------------------*/

/*-----------Global-----------*/

.active {
    display: block !important;
}

.disactive {
    display: none;
}

.products__section {
    display: none;
}

.contact__section {
    display: none;
}

/*-----------Header-----------*/

._container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
}

.header {
    background: url("../images/background.png");
    background-size: cover;
    position: relative;
    padding-top: 30px;
}

.header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header__log {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.header__logo-item {
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 10px;
    font-size: 20px;
    font-family: "Source Sans 3 italic ";
}

.header__logo-item2 {
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 10px;
    font-family: "Source Sans 3 italic ";
    letter-spacing: 1px;
}

p {
    margin-bottom: 0;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
}

.navbar__item {
    font-size: 10px;
    text-transform: uppercase;
}

.navbar__btn {
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: none;
    font-family: "Source Sans SemiBold 600";
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.header__content__text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 10px;
    font-size: 60px;
    padding-bottom: 20px;
    color: #BEA67C;
    font-family: "Source Sans Pro Black";
    font-weight: bold;
    letter-spacing: 5px;
}

.header__content-text2 {
    text-indent: 120px;
}

.header__line {
    height: 2px;
    width: 150px;
    background: #BEA67C;
}

.header__discover {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 150px;
    position: relative;
    z-index: 1;
    padding-bottom: 30px;
}

.header__discover__text {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}

.header__discover__btn {
    background: transparent;
    border: none;
}

.fa-circle-down {
    font-size: 20px;
}


/*----------Section Contact------------*/
.contact__container {
    height: 1200px;
}

.contact__text {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 10px;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #BEA67C;
    font-family: "Source Sans SemiBold 600";
    letter-spacing: 1px;
    font-weight: bold;

}

.contact__line {
    position: absolute;
    left: 50%;
    width: 400px;
    height: 2px;
    transform: translateX(-50%);
    background: #BEA67C;
}

.form__contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    gap: 30px;
    padding-top: 50px;
}

.submit__btn {
    background: #BEA67C;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    font-size: 25px;
}

.name {
    height: 25px;
    min-width: 360px;
    margin: 24px auto 0 auto;
}

.message {
    height: 120px;
    min-width: 360px;
    margin: 24px auto 0 auto;
    border: 2px solid #000;
}

input {
    border: 2px solid #000;
}

.section__contact__text {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    font-family: "Source Sans 3 italic ";
}

.section__contact__text a {
    text-decoration: none;
    color: #000;
}

/*----------Section Home------------*/

.home__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BEA67C;
    text-transform: uppercase;
    gap: 10px;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.home__line {
    position: absolute;
    left: 50%;
    width: 400px;
    height: 2px;
    transform: translateX(-50%);
    background: #BEA67C;
}

/*----------About------------*/

.about__background {
    background: url("../images/HomePage-4.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 50px;
}


/*----------Footer------------*/

.footer__title {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 15px 0 15px 0;
}

.footer__title a {
    text-decoration: none;
    color: #000;
}

/*----------Section Products------------*/


.cardContainer {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
}

.products__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;

}

.products__card:nth-of-type(even) {
    flex-direction: row-reverse;
}

.card__content {
    width: 70%;
    padding: 20px;
}

.card__content h3 {
    font-family: "Source Sans SemiBold 600";
    letter-spacing: 1px;
    font-weight: bold;
}

.card__description {
    display: flex;
    gap: 30px;
    font-family: "Source Sans 3 ";
    font-size: 14px;
}

.description__line {
    height: 2px;
    width: 140px;
    background: #BEA67C;
}

.card__grade img {
    width: 100px;
    position: absolute;
    display: flex;
    margin: 40px 0 0 170px;
}

ul {
    padding: 0;
}
.card__image {
    display: flex;
    background-size: cover;
}

.card__image img {
    width: 100%;
}



.product__item {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 10px;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #BEA67C;
}
h1 {
    font-size: 40px;
    font-family: "Source Sans SemiBold 600";
}

.product__line {
    position: absolute;
    left: 50%;
    width: 400px;
    height: 2px;
    transform: translateX(-50%);
    background: #BEA67C;
}

.contact__link a {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.rating__text {
    padding-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Source Sans 3 italic ";
    font-weight: bold;
    color: #BEA67C;
}

.rating__text span {
    color: #000;
}

.intensity__text:first-child {
    padding-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Source Sans 3 italic ";
    font-weight: bold;
    color: #000;
}

.intensity__text {
    padding-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: "Source Sans 3 italic ";
    font-weight: bold;
    color: #BEA67C;
}

.intensity__text span {
    color: #000;
}

/*Media*/

@media (max-width: 1200px) {

}

@media (max-width: 992px) {


    .products__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 35px;

    }

    .products__card:nth-of-type(even) {
        flex-direction: column-reverse;
    }



    h1 {
        font-size: 40px;
        font-family: "Source Sans SemiBold 600";
    }

    .card__content h3 {
        font-family: "Source Sans SemiBold 600";
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 20px;
    }

    .home__line {
        position: absolute;
        left: 50%;
        width: 300px;
        height: 2px;
        transform: translateX(-50%);
        background: #BEA67C;
    }

    .product__line {
        position: absolute;
        left: 50%;
        width: 200px;
        height: 2px;
        transform: translateX(-50%);
        background: #BEA67C;
    }

    .card__content {
        width: 52%;
        padding: 20px;
    }

    .card__grade img {
        width: 80px;
        position: absolute;
        display: flex;
        margin: 40px 0 0 170px;
    }

    .card__image img {
        width: 70%;
        margin: auto;
        padding-top: 30px;
    }

}


@media (max-width: 768px) {

    .header__content__text {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        gap: 10px;
        font-size: 30px;
        padding-bottom: 15px;
        color: #BEA67C;
        font-family: "Source Sans Pro Black";
        font-weight: bold;
        letter-spacing: 5px;
    }

    .header__content-text2 {
        text-indent: 120px;
    }

    .header__line {
        height: 2px;
        width: 150px;
        background: #BEA67C;
    }

    .header__discover__text {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
    }

    .header__discover__btn {
        background: transparent;
        border: none;
    }

    .fa-circle-down {
        font-size: 10px;
    }

    h1 {
        font-size: 30px;
        font-family: "Source Sans SemiBold 600";
    }

    .card__content h3 {
        font-family: "Source Sans SemiBold 600";
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 15px;
    }

    .products__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 35px;
    }

    .products__card:nth-of-type(even) {
        flex-direction: column-reverse;
    }

    .card__grade img {
        width: 60px;
        position: absolute;
        display: flex;
        margin: 40px 0 0 170px;
    }


    .card__content {
        width: 50%;
        padding: 20px;
    }


    .card__image img {
        width: 70%;
        margin: auto;
        padding-top: 30px;
    }


    .home__line {
        position: absolute;
        left: 50%;
        width: 200px;
        height: 2px;
        transform: translateX(-50%);
        background: #BEA67C;
    }

    .product__line {
        position: absolute;
        left: 50%;
        width: 200px;
        height: 2px;
        transform: translateX(-50%);
        background: #BEA67C;
    }


}

@media (max-width: 576px) {

    .header__content__text {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        gap: 10px;
        font-size: 20px;
        padding-bottom: 15px;
        color: #BEA67C;
        font-family: "Source Sans Pro Black";
        font-weight: bold;
        letter-spacing: 5px;
    }

    .header__content-text2 {
        text-indent: 100px;
    }

    .header__line {
        height: 2px;
        width: 150px;
        background: #BEA67C;
    }

    .header__discover__text {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
    }

    .header__discover__btn {
        background: transparent;
        border: none;
    }

    .fa-circle-down {
        font-size: 10px;
    }

    h1 {
        font-size: 20px;
        font-family: "Source Sans SemiBold 600";
    }

    .cardContainer {
        justify-items: center;
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .card__content h3 {
        font-family: "Source Sans SemiBold 600";
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 12px;
    }

    .products__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 35px;
    }

    .products__card:nth-of-type(even) {
        flex-direction: column-reverse;
    }

    .card__grade img {
        width: 60px;
        position: absolute;
        display: flex;
        margin: 40px 0 0 170px;
    }


    .card__content {
        width: 45%;
        padding: 20px;
    }


    .card__image img {
        width: 50%;
        margin: auto;
        padding-top: 30px;
    }


    .home__line {
        position: absolute;
        left: 50%;
        width: 180px;
        height: 2px;
        transform: translateX(-50%);
        background: #BEA67C;
    }
    .product__line {
        position: absolute;
        left: 50%;
        width: 180px;
        height: 2px;
        transform: translateX(-50%);
        background: #BEA67C;
    }


}